body.beranda{
    background: url(BG-Beranda.jpg);
    height: 100%;
    width: 100%;
    background-size:100vw  50vw;
    background-repeat: no-repeat;
}

#backgroundabu{
    background: grey;
}

p{
    font-family: "PT Sans" sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: white;
}

#tulisanberanda1{
    position: absolute;
    width: 126vw;
    height: 29vw; 
    left: 30vw;
    top: 25vw;
}

#tulisanberanda2{
    position: absolute;
    width: 126vw;
    height: 28vw;
    left: 30vw;
    top: 30vw;
}

#fototentang{
    position: absolute;
    width: 25vw;
    height: 30vw;
    left: 7vw;
    top: 10vw;
}

#tulisantentang{
    position: absolute;
    font-family: "PT Sans" sans-serif;
    font-size: 24px;
    color: black;
    width: 60vw;
    height: 10vw;
    left: 37vw;
    top: 17vw;
}

#fotoprofil{
    position: absolute;
    width: 29vw;
    height: 28vw;
    left: 38vw;
    top: 8vw;
}

#fototwitter{
    position: absolute;
    width: 10vw;
    height: 9vw;
    left: 33vw;
    top: 43vw;
}

#fotofacebook{
    position: absolute;
    width: 9vw;
    height: 9vw;
    left: 48vw;
    top: 43vw;
}

#fotoinstagram{
    position: absolute;
    width: 9vw;
    height: 9vw;
    left: 62vw;
    top: 43vw;
}

#fotocontact{
    position: absolute;
    width: 57vw;
    height: 15vw;
    left: 28vw;
    top: 56vw;

}

#tulisanpengalaman{
    font-family: "PT Sans" sans-serif;
    font-size: 3vw;  
    color: white;
    position: absolute;
    top: 2vw;
    left: 1vw;
}

#fotopengalaman{
    position: absolute;
    width: 59vw;
    height: 22vw;
    left: 19vw;
    top: 16vw;

}

#fotodepor{
    position: absolute;
    width: 44vw;
    height: 30vw;
    left: 5vw;
    top: 11vw;

}

#fotoruntime{
    position: absolute;
    width: 40vw;
    height: 27vw;
    left: 54vw;
    top: 13vw;
}